.sidebar {
    height: 100vh;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    color: #fff;
}

.menu-item:hover {
    color: black;
    transform: translate(20px, 50%);
}

.menu-item {
    margin: 0 10px;
    padding: 8px 0;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    transform: translate(0px, 50%);
}


