.home {
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-school-supplies-graduation-cap-border-blackboard-education-background-picture-image_1219927.jpg');
    width: 100%;
    height: 100vh;
    transform: translateY(-50px);
}

h1 {
    color: #fff;
    line-height: 100vh;
    text-align: center;
}