.search {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.result {
    margin-top: 50px;
    margin-bottom: 80px;
}

button {
    margin-left: 10px;
    float: right;
}

.hidden{
    display: none;
}

.form-update {
    position: absolute;
    padding-bottom: 100px;
    top: 0;
    right: -10px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 200px;
}

.form-inner {
    padding: 20px;
    background-color: #fff;
}

form label {
    color: #fff;
}

.modalDel {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal-inner {
    margin: auto;
    border-radius: 30px;
    padding: 60px;
    background-color: crimson;
    width: fit-content;
    margin: auto;

}

.modal-inner h4 {
    padding: 20px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

.act {
    margin-bottom: 50px;
}
